{% extends 'base.html.twig' %}

{% block title %}Connexion - EscapeGame{% endblock %}

{% block body %}
<form method="post">
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="card card-md">
                <div class="card-body text-center py-4 p-sm-5">
                    <h1>Connexion</h1>
                    {% if error %}
                        <p class="text-muted">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    {% endif %}
                </div>
                <div class="hr-text hr-text-center hr-text-spaceless">Les informations de connexion</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Utilisateur</label>
                        <div class="input-group input-group-flat">
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control ps-1" autocomplete="username" required autofocus>
                        </div>
                    </div>
                    <div>
                        <label class="form-label">Mot de passe</label>
                        <div class="input-group input-group-flat">
                            <input type="password" name="password" id="inputPassword" class="form-control ps-1" autocomplete="current-password" required>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="row align-items-center mt-3">
                <div class="col">
                    <div class="btn-list justify-content-end">
                        <button class="btn btn-primary" type="submit">
                            Connexion
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
