<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EscapeGame{% endblock %}</title>
        <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
        <script src="https://preview.tabler.io/dist/libs/apexcharts/dist/apexcharts.min.js?1620587987"></script>
    </body>
</html>
